<template>
    <lightning-card title={name} icon-name="custom:custom3">
        <lightning-layout>
                <lightning-layout-item size="3" medium-device-size="4" padding="around-small">
                    <lightning-card icon-name="standard:topic" title="Current Temperature">
                        <div class="slds-align_absolute-center color-blue">
                            <div>
                                {temperature}
                            </div>
                        </div>
                    </lightning-card>
                </lightning-layout-item>
                <lightning-layout-item size="3" medium-device-size="4" padding="around-small">
                    <lightning-card icon-name="utility:flow" title="Current Wind Speed">
                        <div class="slds-align_absolute-center color-grey">
                            <div>
                                {windSpeed}
                            </div>
                        </div>
                    </lightning-card>
                </lightning-layout-item>
                <lightning-layout-item size="3" medium-device-size="4" padding="around-small">
                    
                        <image src={link}>Description
                        <div class="slds-align_absolute-center color-green">
                            <div>
                                {description}
                            </div>
                        </div>
                   
                </lightning-layout-item>
            </lightning-layout>
        <lightning-map
            map-markers={mapMarkers}
            zoom-level={zoomLevel}>
        </lightning-map>
    </lightning-card>
</template>